@import url('https://fonts.googleapis.com/css2?family=Agdasima family=Inter:wght@300&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:wght@300&family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');

.heading {
  width: 100%;
  border: 1px solid #63abe7;
  text-align: center;
  background: #63abe7;
  border-radius: 22px;
  display: flex;
  color: white;
  margin: 25px 0 25px 0;
  font-family: 'Agdasima', sans-serif;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 350px;
  padding: 0;
}

.name-ul {
  border: 1px solid rgb(230 117 86);
  width: 240px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

button,
.submit {
  border-color: #46be30;
  border-style: solid;
  border-radius: 7px;
  background-color: #46be30;
  color: white;
}

button:hover,
.submit:hover {
  background-color: #fff;
  color: #46be30;
}

li {
  padding: 8px;
}

li:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

li:nth-child(even) {
  background-color: rgb(230 117 86);
  color: white;
}

.second-head {
  display: flex;
  width: 350px;
}

.second-head > li {
  background: none;
  text-align: center;
  color: #63abe7;
  font-family: 'Agdasima', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-left: 2px;
}

h2 {
  color: #63abe7;
  font-family: 'Agdasima', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(230 117 86);
  text-underline-offset: 9px;
}

.scores {
  display: flex;
  justify-content: center;
  width: 577px;
  margin-top: 37px;
}

.add-sc {
  margin-top: 45px;
}

.wrapper {
  display: flex;
}

input {
  outline: none;
  border-style: solid;
  border-color: #63abe7;
}
